
<section>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
      <h1 class="text-center">Location Finder(Voiro task)</h1>
        <div class="form-group">
          <label>Search Location</label>
          <input type="text" #placesTextBox class="form-control" placeholder="Hyderabad, Telangana, India"/>
        </div>
      </div>
      <div class="col-md-12 map-container">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</section>